{% extends 'base.html' %}
{% load static %}
{% block body %}
 <!-- Start: Page Banner -->
 <section class="page-banner "style= "background: linear-gradient(rgba(0%,0%,0%, 0.80), rgba(133%,4%,4%, 0.40)), url({% static 'yinside/images/page-banners/111.jpg' %})";>
    <div class="container">
        <div class="banner-header">
            <h2 style="color: #fff;font-size: 50px;font-weight: 600;text-shadow: 2px 2px 5px black">About Prospect IAS</h2>
            <span class="underline center"></span>
            <p class="lead"></p>
        </div>
    
    </div>
</section>
<!-- End: Page Banner -->
       
        
        <!-- Start: Welcome Section -->
        <section class="welcome-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="welcome-wrap">
                            <div class="welcome-text">
                                <h2 class="section-title">OUR MESSAGE</h2>
                                <span class="underline left"></span>
                                <!-- <p class="lead">The standard chunk of Lorem Ipsum used since</p> -->
                                <p style="text-align:justify;">"There is no shortcut to success and wisdom. Success is a derivative of hard work, passion, and perseverance". The Extensive knowledge of the themes and holistic understanding, of the diverse subjects is the key to success in the Civil Service Examination. The preparation of the Civil Service Examination is a journey of self-transformation that begins with the process of unlearning and learning about the world that we live in. The guiding principle that we believe in and wish for our students to acquire is “Enhance yourself, intensify your will and potentiate your prospects.”</p>
                                <!-- <a class="btn btn-primary" href="#">Read More</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="facts-counter">
                            <ul>
                                <li class=""style="background-color:#c20000">
<!--                                    <div class="fact-item">-->
<!--                                        <div class="fact-icon">-->
<!--                                            <i class="ebook"></i>-->
<!--                                        </div>-->
<!--                                        <span>eBooks<strong class="fact-counter">45780</strong></span>-->
<!--                                    </div>-->
                                </li>
                                <li class=""style="background-color:#ffbb00">
<!--                                    <div class="fact-item">-->
<!--                                        <div class="fact-icon">-->
<!--                                            <i class="eaudio"></i>-->
<!--                                        </div>-->
<!--                                        <span>eAudio<strong class="fact-counter">32450</strong></span>-->
<!--                                    </div>-->
                                </li>
                                <li class=""style="background-color:#000000">
<!--                                    <div class="fact-item">-->
<!--                                        <div class="fact-icon">-->
<!--                                            <i class="magazine"></i>-->
<!--                                        </div>-->
<!--                                        <span>Magazine<strong class="fact-counter">14450</strong></span>-->
<!--                                    </div>-->
                                </li>
                                <li class=""style="background-color:#c1c1c1">
<!--                                    <div class="fact-item">-->
<!--                                        <div class="fact-icon">-->
<!--                                            <i class="videos"></i>-->
<!--                                        </div>-->
<!--                                        <span>Videos<strong class="fact-counter">32450</strong></span>-->
<!--                                    </div>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-image"></div>
        </section>
        <!-- End: Welcome Section -->
        
        <!-- Start: Welcome Section -->
        <section class="welcome-section"style="background-color:#c20000">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="welcome-wrap">
                            <div class="welcome-text">
                                <h2 class="section-title" style="color: #ffbb00;">OUR MISSION</h2>
                                <span class="underline left"></span>
                                <p style="text-align:justify;color: #fff;">We believe in the creation of a vibrant learning environment and a culture of excellence. Our focus is on the right training, motivation, focused learning, and intellectually-engaging ethos to prepare the CSE aspirants for success in this highly-competitive examination.

                                    The notion with Prospect IAS work is to develop a rational understanding of human society among aspiring students. Our mission is to evolve aspirants with an inclusive outlook, imbibe values of democratic and secular India and develop vigor for ecologically sustainable development with commitment towards world peace.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"><br><br><br><br><br><br><br>
                        <div class="">
                            <img src="{% static 'images/676.svg' %}" style="height:auto;"class="algin-right" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Welcome Section -->
        <!-- Start: Features -->
        <br><br><br><br><br><br>
        <div class="welcome-text">
            <center>
            <a ><img src="{% static 'images/famous.png' %}" style="width: 4%;"><h3 class="section-title" style="color: #000000;">WHY WE STAND APART</h3></a>
        </center>
        </div>
        <section class="features">
            <div class="container">
                <ul>
                    <li  style="border-radius: 20px;background-color: #fff;">
                        <div class="feature-box">
                            <img src="{% static 'images/knowledge.png' %}" style="width: 80px;"
                            <i class="yellow"></i>
                            <br>
                            <h3></h3>
                            <h3 style="color:black">Teaching</h3>
                            <p style="color:black">Prospect IAS believes in bringing creative and innovative methods of teaching and learning for the aspirants. The traditional modules that accommodate theoretical concepts only are not something we strive for.</p>
                            
                        </div>
                    </li>
                    <li  style="border-radius: 20px;background-color: #fff; hover: 3px 3px 5px 6px #ccc;">
                        <div class="feature-box">
                            <img src="" style="width: 80px;"
                            <i class="violet"></i>
                            <h3></h3>
                            <h3 style="color:black"></h3>
                            
                            <p style="color:black"></p>
                            
                        </div>
                    </li>
                    <li  style="border-radius: 20px;background-color: #fff;">
                        <div class="feature-box">
                            <img src="{% static 'images/education.png' %}" style="width: 80px;"
                            <i class="blue"></i>
                            <h3></h3>
                            <h3 style="color:black">Faculty</h3>
                            <p style="color:black">Prospect IAS with its highly qualified and experienced faculty creates an ethos for an in-depth and coherent understanding of the syllabus and examination.</p>
                            
                        </div>
                    </li>
                    <li  style="border-radius: 20px;background-color: #fff;">
                        <div class="feature-box">
                            <img src="{% static 'images/goal.png' %}" style="width: 80px;"
                            <i class="red"></i>
                            <h3></h3>
                            <h3 style="color:black">Approach</h3>
                            <p style="color:black">We strive for a focused, coordinated, and up-to-date approach to ensure the success of the students in the examination.</p>
                            
                        </div>
                    </li>
                    <li  style="border-radius: 20px;background-color: #fff; hover: 3px 3px 5px 6px #ccc;">
                        <div class="feature-box">
                            <img src="" style="width: 80px;"
                            <i class="violet"></i>
                            <h3></h3>
                            <h3 style="color:black"></h3>
                            
                            <p style="color:black"></p>
                            
                        </div>
                    </li>
                    <li  style="border-radius: 20px;background-color: #fff; hover: 3px 3px 5px 6px #ccc;">
                        <div class="feature-box">
                            <img src="{% static 'images/thinking.png' %}" style="width: 80px;"
                            <i class="violet"></i>
                            <h3></h3>
                            <h3 style="color:black">Competencies</h3>
                            
                            <p style="color:black">We aspire to develop essential competencies in our students like critical thinking, articulation of notions & concepts, and the ability to develop inter-disciplinary understanding and ensure the overall development of the aspirants.</p>
                            
                        </div>
                    </li>
                   
                </ul>
            </div>
        </section>
        <!-- End: Features -->
        <div class="container-fluid pb-5 mt-5 pt-5 " id="section13">
            <div class="container">
                <div class="row shadow rounded">
                    <div class="col-lg-6 p-5">
                        <img src="{% static 'images/mobile.png' %}" class="img-fluid float-right">
                    </div>
                    <div class="col-lg-6 p-5"><br><br><br><br>
                        <h1 class="mt-5"style="font-size: 40px;font-weight: 700;color:#c20000">Learn on the go</h1>
                        <p class="mt-3">Download lessons and learn anytime, <br>anywhere with the Prospect learning app</p>
                        <div id="downloadBtn mt-5">
						<img src="{% static 'images/google.png' %}" style="width:35%" class="img-fluid">
						<img src="{% static 'images/apple.png' %}" style="width:30%" class="img-fluid">
					</div>
                        <div class="form-group mt-3 d-flex">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <br><br>
      
        {% endblock %}