{% extends 'admin_base.html' %}
{% load static %}
{% block body %}
 <div class="page-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">

                               <div class="row">


                </div>
                                <h5 class="card-title">Ncert Books </h5>
                                 <div class="container-fluid">
                <div class="row el-element-overlay">
                    {% for i in ncbook %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="{{ i.Book_image.url }}" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item"><a class="btn default btn-outline el-link" href="{{ i.Book_pdf.url }}" download="{{ i.Book_pdf.url }}" >Download Pdf<i class="mdi mdi-download"></i></a></li>
                                            <br><br><br>
                                            <li class="el-item"><a class="btn default btn-outline el-link" href="{% url 'yojana_delete' i.id %}">Delete Book <i class="mdi mdi-delete"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h4 class="m-b-0">{{ i.name }}</h4> <span class="text-muted"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}