{% extends 'admin_base.html' %}
{% load static %}
{% block body %}
{% load embed_video_tags %}
 <div class="page-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4 class="page-title">Home Page</h4>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Enquiry Request</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th> Name</th>
                                                <th>Email</th>
                                                <th>Mobile No</th>
                                                <th>Course</th>
                                                <th>Date/Time</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        {% for i in enq %}
                                        <tbody>
                                            <tr>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.Course }}</td>
                                                <td>{{ i.Email }}</td>
                                                <td>{{ i.mobile }}</td>
                                                <td>{{ i.date }}</td>
                                                <td>{{ i.message }}</td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}

                                    </table>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Meet Our Faculty Request</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile No</th>
                                                <th>State</th>
                                                <th>Date/Time</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        {% for i in meet %}
                                        <tbody>
                                            <tr>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.state }}</td>
                                                <td>{{ i.Email }}</td>
                                                <td>{{ i.mobile }}</td>
                                                <td>{{ i.date }}</td>
                                                <td>{{ i.message }}</td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}

                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Youtube Videos</h5>
                                <div class="table-responsive">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                       <form method="post" enctype="multipart/form-data" >
                                                            {% csrf_token %}
                                                            <div class="form-group row">
                                                                <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Enter Youtube Video Url</label>
                                                                <div class="col-sm-9">
                                                                    <input type="url" class="form-control" name="title" id="cono1" placeholder="Enter URL">
                                                                </div>
                                                            </div>

                                                           <input type="submit" style="background-color:#000000" class="btn btn-primary" value="Upload Video">
                                                        </form>
                                                         <div class="container-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid mt-5" id="videoSection">
                                    <div class="container">
                                        <div class="row text-center ">
                                            {% for i in vid %}
                                            <div class="col-lg-3">
                                                {% video i.video '260x180' %}
                                                <p><a href="{% url 'youtube_delete' i.id  %}" class="btn btn-primary py-2 px-3"  style="background-color:red;">Delete </a></p>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>

{% endblock %}