{% extends 'admin_base.html' %}
{% load static %}
{% block body %}
 <div class="page-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Contact Us Enquiries</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Mobile No</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        {% for i in co %}
                                        <tbody>
                                            <tr>
                                                <td>{{ i.first_name }}</td>
                                                <td>{{ i.last_name }}</td>
                                                <td>{{ i.Email }}</td>
                                                <td>{{ i.mobile }}</td>
                                                <td>{{ i.message }}</td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>

{% endblock %}