{% extends 'base.html' %}
{% load static %}
{% block body %}

 <!-- Start: Page Banner -->
 <section class="page-banner "style= "background: linear-gradient(rgba(0%,0%,0%, 0.80), rgba(133%,4%,4%, 0.40)), url({% static 'yinside/images/page-banners/111.jpg' %})";>
    <div class="container">
        <div class="banner-header">
            <h2 style="color: #fff;font-size: 50px;font-weight: 600;text-shadow: 2px 2px 5px black">YOJANA PDFS</h2>
            <span class="underline center"></span>
            <p class="lead"></p>
        </div>

    </div>
</section>
<!-- End: Page Banner -->
        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-full-width">
                        <div class="container">
                            <!-- Start: Search Section -->
                                <section class="search-filters">
                                    <div class="container">
                                        <div class="filter-box">
                                            <h3>Click Download Pdf To Download Yojana</h3>
                                            <form action="/yojana_search" method="get">
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="key">Search by Keyword</label>
                                                        <input class="form-control" placeholder="Search by Keyword" id="key" name="key" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="dropdown" >
                                                        <div class="form-control">
                                                          <button class="dropbtn"style="font-size: 14px;font-weight: 600;text-transform: none;color:#707070;width:220px">Top Magazines</button>
                                                          <div class="dropdown-content">
                                                              {% for i in booknam  %}
                                                            <a href="{{ i.Book_pdf.url }}" download="{{ i.Book_pdf.url }}">{{ i.Book_name }}</a>
                                                              {% endfor %}
                                                          </div>
                                                        </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="dropdown" >
                                                        <div class="form-control">
                                                          <button class="dropbtn"style="font-size: 14px;font-weight: 600;text-transform: none;color:#707070;;width:220px">All Categories</button>
                                                          <div class="dropdown-content">
                                                              {% for i in cate %}
                                                            <a href="{% url 'yojana_detail' i.id %}">{{ i.name }}</a>
                                                              {% endfor %}
                                                          </div>
                                                        </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-2 col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="submit" value="Search">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                                <!-- End: Search Section -->


                            <div class="booksmedia-fullwidth">
                                <ul>
                                    {% for i in ncbook %}
                                    <li>

                                        <figure>
                                            <a href=""><img src="{{ i.Book_image.url }}" style="height:450px;width150px" alt="Book"></a>
                                            <figcaption>
                                                <header>
                                                    <h5><a href="">{{ i.Book_name }}</a></h5>
                                                </header>
                                                 <a class="btn btn-primary" href="{{ i.Book_pdf.url }}" download="{{ i.Book_pdf.url }}">Download PDF</a>
<!--                                                <div class="actions">-->
<!--                                                    <ul>-->
<!--                                                        <li>-->
<!--                                                                    <a href="https://www.facebook.com/" target="_blank" data-toggle="blog-tags" data-placement="top" title="Facebook">-->
<!--                                                                        <i style="color:#000000 " class="fa fa-facebook"></i>-->
<!--                                                                    </a>-->
<!--                                                                </li>-->
<!--                                                                <li>-->
<!--                                                                    <a href="https://twitter.com/?lang=en" target="_blank" data-toggle="blog-tags" data-placement="top" alt="www.twitter.com" title="Twitter">-->
<!--                                                                        <i style="color:#000000 " class="fa fa-twitter"></i>-->
<!--                                                                    </a>-->
<!--                                                                </li>-->

<!--                                                                <li>-->
<!--                                                                    <a href="https://in.linkedin.com/" target="_blank" data-toggle="blog-tags" data-placement="top" title="linkedin">-->
<!--                                                                        <i style="color:#000000 " class="fa fa-linkedin"></i>-->
<!--                                                                    </a>-->
<!--                                                                </li>-->
<!--                                                                <li>-->
<!--                                                                    <a href="https://www.instagram.com/" target="_blank" data-toggle="blog-tags" data-placement="top" title="instagaram">-->
<!--                                                                        <i style="color:#000000 " class="fa fa-instagram"></i>-->
<!--                                                                    </a>-->
<!--                                                                </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
                                            </figcaption>
                                        </figure>                                                
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
<!--                            <nav class="navigation pagination text-center">-->
<!--                                <h2 class="screen-reader-text">Posts navigation</h2>-->
<!--                                <div class="nav-links">-->
<!--                                    <a class="prev page-numbers" href="#."><i class="fa fa-long-arrow-left"></i> Previous</a>-->
<!--                                    <a class="page-numbers" href="#.">1</a>-->
<!--                                    <span class="page-numbers current">2</span>-->
<!--                                    <a class="page-numbers" href="#.">3</a>-->
<!--                                    <a class="page-numbers" href="#.">4</a>-->
<!--                                    <a class="next page-numbers" href="#.">Next <i class="fa fa-long-arrow-right"></i></a>-->
<!--                                </div>-->
<!--                            </nav>-->
                        </div>

                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->


        <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                    <p class="lead"></p>
                </div>
                <ul>
                    <li>
                        <a class="" href="#" target="">
                            <span>
                                <i class=""></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="facebook" href="https://www.facebook.com/prospectias" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/prospectias" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>


                    <li>
                        <a class="linkedin" href="https://www.linkedin.com/company/prospectias/" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network -->
        {% endblock %}