<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	{% load embed_video_tags %}
	<title>Prospect IAS | Civil Services coaching Institute with Most Acclaimed faculty network.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="title" content="Prospect IAS, Civil Services coaching Institute, Delhi, Online Classes.">
	<meta name="description" content="An institution of committed academicians, CSE experts, and established research scholars are drawn from diverse fields of knowledge.">
	<meta name="keywords" content="Delhi, UPSC Coaching, Best IAS Institution, Online Classes, Best Faculty, One of a Kind. India's Best IAS Coaching in Delhi is best known for comprehensive UPSC Preparation in Delhi.">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="English">
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
	
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<link rel="icon" href="{% static 'images/logo.png' %}" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">

	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--	slider-->
<!--	<link rel="stylesheet" href="{% static 'zslider/css/owl.carousel.css' %}" type="text/css" media="all">-->
<!--	<link href="{% static 'zslider/css/owl.theme.css' %}" rel="stylesheet">-->
<!--	&lt;!&ndash; font-awesome icons &ndash;&gt;-->

<!--	<script src="{% static 'zslider/js/jquery-1.11.1.min.js' %}"></script>-->

<!--	&lt;!&ndash;search jQuery&ndash;&gt;-->
<!--	<script src="{% static 'zslider/js/main.js' %}"></script>-->
	 <script>
		function myFunction() {
		  alert("Thankyou! For giving your response Our Prospectias team will contact you Soon! ");
		}
	</script>
<!--selider end-->
<script>
    (function(d, w, c) {
        w.ChatraID = 'eS4jWfcWq857x57uv';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
</head>
<body>

	<div class="wrap"style="position: sticky;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex align-items-center">
					<p class="mb-0 phone pl-md-2">
						<a href="#" class="mr-2"style="font-size: 10px;font-weight: 700;">Digital Learning</a>
						<a href="#" class="mr-2"style="font-size: 10px;font-weight: 700;">Today's Schedule</a>
						<a class="buttonss" href="#">Live Webcast</a>
					</p>
				</div><br>
				<div class="col-md-6 d-flex justify-content-md-end">
					<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="https://www.facebook.com/prospectias" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="https://twitter.com/prospectias" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="d-flex align-items-center justify-content-center"><span class="fa fa-youtube"><i class="sr-only">Youtube</i></span></a>
							<a href="https://www.linkedin.com/company/prospectias/" class="d-flex align-items-center justify-content-center"><span class="fa fa-linkedin"><i class="sr-only">Linkedin</i></span></a>

							{% if request.user.is_authenticated %}
							<a href="{% url 'Logout' %}" style="color:#fff;padding-top: 0.3em">Logout</a>
						  {% else %}
							<a href="{% url 'Login' %}" style="color:#fff;padding-top: 0.3em">Login</a>
						  {% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar"style="position: sticky;top:-2px">
		<div class="container">
				<img  src="{% static 'images/logo2.png' %}" style="width:18%" alt="">
			<button style="color: #000000" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span  class="oi oi-menu" ></span> Menu</button>


			<div class="collapse navbar-collapse" id="ftco-nav">
				 
                
                <div class="dropdown">
                  <a href="{% url 'home' %}"><button class="dropbtn"style="font-size: 14px;font-weight: 600;">HOME</button></a>

                </div>
                 <div class="dropdown">
                  <button class="dropbtn"style="font-size: 15px;font-weight: 600;">ABOUT</button>
                  <div class="dropdown-content">
                    <a href="{% url 'about_institution' %}" style="font-size: 14px;font-weight: 600;" >About Prospect</a>
                    <a href="{% url 'about_cse' %}" style="font-size: 15px;font-weight: 600;">About CSE</a>
                  </div>
                </div>
                   <div class="dropdown">
                  <button class="dropbtn"style="font-size: 14px;font-weight: 600;">COURSES</button>
                  <div class="dropdown-content">
					  {% for i in allcat %}
					  <a href="{% url 'course_detail' i.id %}" style="font-size: 15px;font-weight: 600;" >{{ i.name }}</a>
					  {% endfor %}
                  </div>
                </div>
                   <div class="dropdown">
                  <button class="dropbtn"style="font-size: 14px;font-weight: 600;">ADMISSION</button>
                  <div class="dropdown-content">
                    <a href="{% url 'admission_procedure' %}" style="font-size: 15px;font-weight: 600;" >Admission Procedure</a>
                    <a href="{% url 'fee_structure' %}" style="font-size: 15px;font-weight: 600;">Fee Structure</a>

                  </div>
                </div>
				<div class="dropdown">
                  <button class="dropbtn"style="font-size: 14px;font-weight: 600;">RESOURCES</button>
                  <div class="dropdown-content">
                    <a href="{% url 'syllabus' %}" style="font-size: 15px;font-weight: 600;" >Syllabus</a>
                    <a href="{% url 'ncrt_books' %}" style="font-size: 15px;font-weight: 600;">NCERT Books</a>
                    <a href="{% url 'yojana' %}" style="font-size: 15px;font-weight: 600;">Yojana</a>
                    <a href="{% url 'kurukshetra' %}" style="font-size: 15px;font-weight: 600;">Kurukshetra</a>
                    <a href="{% url 'suggested_readings' %}" style="font-size: 15px;font-weight: 600;">Suggested Readings</a>
                      <a href="{% url 'previous_papers' %}" style="font-size: 15px;font-weight: 600;">Previous Papers</a>
                      <a href="{% url 'prospect_book' %}" style="font-size: 15px;font-weight: 600;">Prospect Books</a>
                      <a href="{% url 'prospect_planner' %}" style="font-size: 15px;font-weight: 600;">Prospect Planner</a>
                  </div>
                </div>
                  <div class="dropdown">
                  <button class="dropbtn"style="font-size: 14px;font-weight: 600;">TEST SERIES</button>
                  <div class="dropdown-content">
                    <a href="{% url 'pgsts' %}" style="font-size: 15px;font-weight: 600;" >PGSTS</a>
                    <a href="{% url 'mgsts' %}" style="font-size: 15px;font-weight: 600;">MGSTS</a>
                  </div>
                </div>
				 <div class="dropdown">
					<button class="dropbtn"style="font-size: 14px;font-weight: 600;">CURRENT AFFAIRS</button>
					<div class="dropdown-content">
						  <a href="{% url 'mcqs' %}" style="font-size: 15px;font-weight: 600;" >MCQS</a>
						  <a href="{% url 'air_news' %}" style="font-size: 15px;font-weight: 600;">AIR News</a>
						  <a href="{% url 'pib' %}" style="font-size: 15px;font-weight: 600;">PIB</a>
						  <a href="{% url 'daily_editorial' %}" style="font-size: 15px;font-weight: 600;">Daily Editorial</a>
					  <a href="{% url 'news_clippings' %}" style="font-size: 15px;font-weight: 600;">News Clippings</a>
					  <a href="{% url 'prospect_articles' %}" style="font-size: 15px;font-weight: 600;">Prospect Articles</a>
					  <a href="{% url 'prospect_magazine' %}" style="font-size: 15px;font-weight: 600;">Prospect Magazines</a>
					  <a href="{% url 'info_graphics' %}" style="font-size: 15px;font-weight: 600;">InfoGrapics</a>
					  <a href="{% url 'rstv_debates' %}" style="font-size: 15px;font-weight: 600;">RSTV Debates</a>
					</div>
				  </div>
				  <div class="dropdown">
					<a href="{% url 'contact' %}"><button class="dropbtn"style="font-size: 14px;font-weight: 600;">CONTACT</button></a>
				  </div>
					{% if request.user.is_authenticated %}
							<div class="dropdown">
					<a href="{% url 'admin_index' %}"><button class="dropbtn"style="font-size: 14px;font-weight: 600;">ADMIN</button></a>
				  </div>
						  {% else %}

						  {% endif %}

				
			</div>
		</div>
	</nav>
	<!-- END nav -->
	
	<section class="hero-wrap js-fullheight">
		<div class="home-slider js-fullheight owl-carousel">
			<div class="slider-item fullheight "style="background-image: url({% static 'images/banner4.jpg' %});" style="width:1100px;height:600px">
				<div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-10 col-lg-7 ftco-animate">
							<div class="text w-100">
								<h2></h2>
								<h1 class="mb-3"style="text-shadow: 2px 2px 3px black;">Start your journey with the most acclaimed faculty network in India</h1>
								<div class="d-flex meta">
									<div class=""><p class="mb-0"><a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="btn btn-secondary py-3 px-2 px-md-4">Start Learning</a></p></div>
									<a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="d-flex align-items-center button-link">
										<div class="button-video d-flex align-items-center justify-content-center">
											<span class="fa fa-play"></span>
										</div>
										<span style="text-shadow: 2px 2px 3px black;" >Watch our video</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="background-image: url({% static 'images/banner3.jpg' %});" style="width:1100px;height:600px">
				<div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-10 col-lg-7 ftco-animate">
							<div class="text w-100">
								<h2></h2>
								<h1 class="mb-3" style="text-shadow: 2px 2px 3px black;" >Advance General Studies course tailor-made to maximize your prospects</h1>
								<div class="d-flex meta">
									<div class=""><p class="mb-0"><a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="btn btn-secondary py-3 px-2 px-md-4">Start Learning</a></p></div>
									<a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="d-flex align-items-center button-link">
										<div class="button-video d-flex align-items-center justify-content-center">
											<span class="fa fa-play"></span>
										</div>
										<span style="text-shadow: 2px 2px 3px black;" >Watch our video</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item js-fullheight" style="background-image: url({% static 'images/banner1.jpg' %});" style="width:1100px;height:600px">
				<div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-10 col-lg-7 ftco-animate">
							<div class="text w-100">
								<h2></h2>
								<h1 class="mb-3" style="text-shadow: 2px 2px 3px black;"  >Intensive test series to keep you up to date with the latest trends</h1>
								<div class="d-flex meta">
									<div class=""><p class="mb-0"><a href="#" class="btn btn-secondary py-3 px-2 px-md-4">Start Learning</a></p></div>
									<a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="d-flex align-items-center button-link">
										<div class="button-video d-flex align-items-center justify-content-center">
											<span class="fa fa-play"></span>
										</div>
										<span style="text-shadow: 2px 2px 3px black;" >Watch our video</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item js-fullheight" style="background-image: url({% static 'images/banner2.jpg' %});" style="width:1100px;height:600px">
				<div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-10 col-lg-7 ftco-animate">
							<div class="text w-100">
								<h2></h2>
								<h1 class="mb-3" style="text-shadow: 2px 2px 3px black;" >Turn your IAS potential into reality at Prospect IAS</h1>
								<div class="d-flex meta">
									<div class=""><p class="mb-0"><a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="btn btn-secondary py-3 px-2 px-md-4">Start Learning</a></p></div>
									<a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" class="d-flex align-items-center button-link">
										<div class="button-video d-flex align-items-center justify-content-center">
											<span class="fa fa-play"></span>
										</div>
										<span style="text-shadow: 2px 2px 3px black;" >Watch our video</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</section>
	<!-- special -->
	<!-- <div class="heading-section pr-md-5 pt-md-5">
		<center>
		<span class="subheading">Our</span>
		<h2 class="mb-4">Upcoming Batches</h2>
		</center>
	</div>
	<div class="special">
		<div class="container">
			<div class="special-grids">
				<div id="owl-demo" class="owl-carousel owl-theme">
						<div class="item">
							<div class="w3-agileits-special-grid-info">
								<img src="{% static 'images/you3.jpg' %}" alt="" />
								<div class="agile-special-grid-text">
									<center>
										<h5 style="font-size: 16px;font-weight: 700;color:#c20000">General Studies Course</h5>
										</center>
									<ul>
									<li> <i class="fa fa-clock-o"></i>  <span>600 +</span > Hours Classess</li>
									<li> <i class="fa fa-user-o"></i> <span>20 +</span> Faculty Members</li>
									<li> <i class="fa fa-plus-circle"></i> <span>3 +</span> Round Revision</li>
									<li> <i class="fa fa-snowflake-o"></i> <span>50 +</span> Class Test</li>
								    </ul>
									<center>
									<p><a href="#" style="font-weight: lighter;height:40px;background-color:#c20000" class="btn btn-quarternary">Enroll</a></p>
									</center>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="w3-agileits-special-grid-info">
								<img src="{% static 'images/you4.jpg' %}" alt="" />
								<div class="agile-special-grid-text">
									<div class="agile-special-grid-text">
										<center>
											<h5 style="font-size: 16px;font-weight: 700;color:#c20000">General Studies Course</h5>
											</center>
									<ul>
									<li> <i class="fa fa-clock-o"></i>  <span>600 +</span > Hours Classess</li>
									<li> <i class="fa fa-user-o"></i> <span>20 +</span> Faculty Members</li>
									<li> <i class="fa fa-plus-circle"></i> <span>3 +</span> Round Revision</li>
									<li> <i class="fa fa-snowflake-o"></i> <span>50 +</span> Class Test</li>
								    </ul>
									<center>
									<p><a href="#" style="font-weight: lighter;height:40px;background-color:#c20000" class="btn btn-quarternary">Enroll</a></p>
									</center>
								</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="w3-agileits-special-grid-info">
								<img src="{% static 'images/you3.jpg' %}" alt="" />
								<div class="agile-special-grid-text">
									<div class="agile-special-grid-text">
										<center>
											<h5 style="font-size: 16px;font-weight: 700;color:#c20000">General Studies Course</h5>
											</center>
									<ul>
									<li> <i class="fa fa-clock-o"></i>  <span>600 +</span > Hours Classess</li>
									<li> <i class="fa fa-user-o"></i> <span>20 +</span> Faculty Members</li>
									<li> <i class="fa fa-plus-circle"></i> <span>3 +</span> Round Revision</li>
									<li> <i class="fa fa-snowflake-o"></i> <span>50 +</span> Class Test</li>
								    </ul>
									<center>
									<p><a href="#" style="font-weight: lighter;height:40px;background-color:#c20000" class="btn btn-quarternary">Enroll</a></p>
									</center>
								</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="w3-agileits-special-grid-info">
								<img src="{% static 'images/you1.jpg' %}" alt="" />
								<div class="agile-special-grid-text">
									<div class="agile-special-grid-text">
										<center>
											<h5 style="font-size: 16px;font-weight: 700;color:#c20000">General Studies Course</h5>
											</center>
									<ul>
									<li> <i class="fa fa-clock-o"></i>  <span>600 +</span > Hours Classess</li>
									<li> <i class="fa fa-user-o"></i> <span>20 +</span> Faculty Members</li>
									<li> <i class="fa fa-plus-circle"></i> <span>3 +</span> Round Revision</li>
									<li> <i class="fa fa-snowflake-o"></i> <span>50 +</span> Class Test</li>
								    </ul>
									<center>
									<p><a href="#" style="font-weight: lighter;height:40px;background-color:#c20000" class="btn btn-quarternary">Enroll</a></p>
									</center>
								</div>
								</div>
							</div>
						</div>
						
						
				</div>
			</div>
		</div>
	</div> -->
	<!-- //special --> 
	<br><br></br> 
	<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 order-md-last d-flex align-items-stretch">
					<div class="donation-wrap">
						<div class="total-donate d-flex align-items-center">
							<span class="fa flaticon-cleaning"></span>
							<h3 style="font-size: 30px;font-weight: 800;color:#fff" >Enquiry Form</h3>
						</div>
						<form action="" method="POST" class="appointment">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="name" style="color: black;">Full Name</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-user"></span></div>
											<input type="text" required name="name" class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name" style="color: black;">Email Address</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-envelope"></span></div>
											<input type="email" required name="email" class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name" style="color: black">Mobile No</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-mobile"></span></div>
											<input  type="text" onkeypress="return event.charCode >= 45 && event.charCode <= 57 && event.charCode!=47" required name="mobile" minlength="10" maxlength="10" class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name"  style="color: black;">Select Course</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon"><span class="fa fa-book"></span></div>
												<select name="course" id="" class="form-control">
													 {% for i in allcat %}
													<option value="{{ i.name }}">{{ i.name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name" style="color: black;">Message</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-envelope"></span></div>
											<input type="text" required name="message" class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" onclick="myFunction()"  name="enquirey" value="Submit" class="btn btn-secondary py-3 px-4">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-7 wrap-about py-5">
					<div class="heading-section pr-md-5 pt-md-5">
						<span class="subheading">ABOUT</span>
						<h2 class="mb-4">OUR INSTITUTION</h2>
						<p style="text-align: justify;">Prospect IAS is an institution of committed academicians, CSE experts and established research scholars drawn from diverse fields of knowledge. We aspire to ingrain comprehensive knowledge base with critical thinking and analytical abilities in the aspirants of Civil Services Examination. We strive for focused, coordinated and up-to-date approach to crack Civil Services Examination. Prospect IAS believes in inculcation of comprehensive knowledge of the concepts along with exam- oriented understanding of disciplines, which can be achieved only with the guidance of a diverse team of learned academicians, passionate teachers and experienced bureaucrats. Prospect IAS mentors the journey of CSE aspirants and guides them through the path of self-development.</p>
					</div>
					<p><a href="{% url 'about_institution' %}" class="btn btn-secondary btn-outline-secondary">Know More</a></p>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
            	<div class="heading-section pr-md-5 pt-md-5">
					<center>
					<span class="subheading">Our</span>
					<h2 class="mb-4">Popular Courses</h2>
					</center>
				</div>
            <div class="row courses">
                <div class="col-md-8 order-md-1 order-2 col-12">
                    <h2 class="my_color" style="font-size: 30px;font-weight: 600;">CLASSROOM COURSES</h2>
                    <div class="bottom_underline"></div>
                    <p style="text-align: justify;">Prospect IAS GS Advance and Foundation courses are exclusively designed for comprehensive coverage of both Preliminary and Mains syllabus of UPSC Civil Services Examination. The course will be taken by established faculty and subject experts of Prospect IAS.
                        <a href="" class="read_more_btn" style="font-size: 16px;font-weight: 600;"></a>
                    </p>
                </div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-4 order-md-2 order-1 col-12 mt5 text-md-right text-center">
                    <img src="{% static 'images/classroom.png' %}" style="width: 30%;" alt="Classroom Course" class="img-fluid w-75 paddb15">
                </div>
            </div>
            <div class="row courses">
                <div class="col-md-4 col-12 aos-init text-md-left text-center" data-aos="fade-up">
                    <img src="{% static 'images/webinar.png' %}"  style="width: 60%;"alt="Live Classes" height="100" class="img-fluid paddb15">
                </div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-8 col-12 aos-init" data-aos="fade-dow">
                    <h2 class="my_color"style="font-size: 30px;font-weight: 600;">ONLINE/LIVE CLASSES</h2>
                    <div class="bottom_underline"></div>
                    <p style="text-align: justify;">Online/Live classes are becoming an important part of human existence. Due to professional job locations, college timings, and high living costs in metropolitan cities, it is difficult for many aspirants to attend offline classes. Prospect IAS offers online classes to make their preparation journey easier.
                          <a href="" class="read_more_btn" style="font-size: 16px;font-weight: 600;"></a>
                         </p>

                </div>
            </div>
            <div class="row courses">
                <div class="col-md-8 order-md-1 order-2 col-12 aos-init" data-aos="fade-up">
                    <h2 class="my_color"style="font-size: 30px;font-weight: 600;">TEST SERIES (Offline and Online)</h2>
                    <div class="bottom_underline"></div>
                    <p style="text-align: justify;">Prospect IAS offers GS Prelims and Main Test Series simulating real UPSC examination experience. The experience acquaints the aspirants with authentic challenges faced during the exam, helping them to prepare and strategize better.
                    <a href="" class="read_more_btn" style="font-size: 16px;font-weight: 600;"></a>
                    </p>

                </div>
                <div class="col-md-4 order-md-2 order-1 col-12 mt5 aos-init text-md-right text-center" data-aos="fade-down">
                    <img src="{% static 'images/exam.png' %}"  style="width: 60%;" alt="Test Series" height="100" class="img-fluid paddb15">
                </div>
            </div>
            <div class="row courses">
                <div class="col-md-4 col-12 aos-init text-md-left text-center" data-aos="fade-up">
                    <img src="{% static 'images/interviews.png' %}" style="width: 60%;" alt="Postal Package" class="img-fluid">
                </div>
                <div class="col-md-8 col-12 aos-init" data-aos="fade-dow">
                    <h2 class="my_color"style="font-size: 30px;font-weight: 600;">Interview Guidance</h2>
                    <div class="bottom_underline"></div>
                    <p style="text-align: justify;">

After successfully qualifying Main examination, interview remains the last barrier between the aspirant and the highly reputed civil services. Prospect IAS engages bureaucrats, esteemed academicians and CSE experts to help you out to win the last battle. An exclusive batch for Interview Guidance starts immediately after the declaration of the Main Examination results.
                    <a href="" class="read_more_btn" style="font-size: 16px;font-weight: 600;"></a>
                    </p>

                </div>
            </div>
            <!-- <div class="row courses border-0">
                <div class="col-md-8 order-md-1 order-2 col-12 aos-init" data-aos="fade-up">
                    <h2 class="my_color"style="font-size: 30px;font-weight: 600;">Interview Guidance </h2>
                    <div class="bottom_underline"></div>
                    <p style="text-align: justify;">After successfully qualifying Main examination, interview remains the last barrier between the aspirant and the highly reputed civil services. Prospect IAS engages bureaucrats, esteemed academicians and CSE experts to help you out to win the last battle. An exclusive batch for Interview Guidance starts immediately after the declaration of the Main Examination results.
                    <a href="" class="read_more_btn"style="font-size: 16px;font-weight: 600;"></a>
                    </p>

                </div>
                <div class="col-md-4 order-md-2 order-1 col-12 mt5 aos-init text-md-right text-center" data-aos="fade-dow">
                    <img src="{% static 'images/interviews.png' %}" style="width: 60%;" alt="Interview Program" class="img-fluid">
                </div>
            </div> -->
        </div>


<!-- 			{% load embed_video_tags %}
	<div class="container-fluid mt-5" id="videoSection">
		<div class="container">
			<div class="row text-center ">
				{% for i in vid %}
				<div class="col-lg-3">
					{% video i.video 'large' %}
				</div>
				{% endfor %}
			</div>

		</div>
	</div> -->

	<div class="container-fluid mt-5 " id="elearnProgress" style="background-color:#FFBB00">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 p-lg-5">
					<img src="{% static 'images/working.png' %}" class="img-fluid mt-5 ">
				</div>
				<div class="col-lg-6 p-lg-5 "><br>
					<h1 class="mt-3" style="color:#c20000;font-weight:700">Prospect IAS  <br>E-learning </h1>
					<p style="" >The e-learning portal for Prospect IAS students is one stop destination for CSE preparation. </p>
					<!-- <p style="line-height: 0.5;" >Online GS Coaching<p>
					<p style=" line-height: 0.5;" >Daily Current Affairs for IAS (Hindu Analysis)</p>
					<p style="line-height: 0.5;" >UPSC Prelims Videos & Quizzes</p>
					<p style="line-height: 0.5;" >UPSC Mains Answer Writing Videos</p>
					<p style="line-height: 0.5;" >UPSC Test Series & Revision Course for IAS Prelims</p>
					<p style="line-height: 0.5;" >UPSC Test Series & Revision course for IAS Mains</p>
					<p style="line-height: 0.5;" >UPSC Study Material</p> -->
					<p><a href="https://estudy.prospectias.in/accounts/login/?next=/" class="btn btn-quarternary" style="background-color:#c20000; margin-left:10px;border: 1px #c20000">Access Now</a></p>
				</div>
			</div>
		</div>
	</div>
	<section class="ftco-section" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row mb-5">
							<!-- <div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon bg-primary d-flex align-items-center justify-content-center">
										<span class="fa fa-map-marker"></span>
									</div>
									<div class="text">
										<p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon bg-secondary d-flex align-items-center justify-content-center">
										<span class="fa fa-phone"></span>
									</div>
									<div class="text">
										<p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon bg-tertiary d-flex align-items-center justify-content-center">
										<span class="fa fa-paper-plane"></span>
									</div>
									<div class="text">
										<p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon bg-quarternary d-flex align-items-center justify-content-center">
										<span class="fa fa-globe"></span>
									</div>
									<div class="text">
										<p><span>Website</span> <a href="#">yoursite.com</a></p>
									</div>
								</div>
							</div> -->
						</div>
						<div class="row no-gutters" >
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Meet With Our Faculty</h3>
									<form method="POST" action="" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" required name="name" id="name" placeholder="Full Name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" required name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="mob">Mobile No</label>
													<input type="text" onkeypress="return event.charCode >= 45 && event.charCode <= 57 && event.charCode!=47" class="form-control" required name="mobile" maxlength="10" minlength="10" id="mob" placeholder="Mobile ">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="state">State</label>
													<input type="text" class="form-control" required name="state" id="state" placeholder="State">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Message</label>
													<input type="text" class="form-control" required name="Message" id="subject" placeholder="Subject">
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" onclick="myFunction()"  value=" Request a Call Back" name="meet" class="btn btn-primary">

												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5 img" style="background-image: url({% static 'images/meet.jpg' %});">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<div class="container-fluid pb-5 mt-5 pt-5 " id="section13">
		<div class="container">
			<div class="row shadow rounded">
				<div class="col-lg-6 p-5">
					<img src="{% static 'images/mobile.png' %}" class="img-fluid float-right">
				</div>
				<div class="col-lg-6 p-5"><br><br><br><br>
					<h1 class="mt-5"style="font-size: 40px;font-weight: 700;color:#c20000">Learn on the go</h1>
					<p class="mt-3">Download lessons and learn anytime, <br>anywhere with the Prospect learning app</p>
					<div id="downloadBtn mt-5">
						<img src="{% static 'images/google.png' %}" style="width:35%" class="img-fluid">
						<img src="{% static 'images/apple.png' %}" style="width:30%" class="img-fluid">
					</div>
					<div class="form-group mt-3 d-flex">

					</div>

				</div>
			</div>
		</div>
	</div>
	
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<img  src="{% static 'images/logow.png' %}" style="width:90%;" alt="">
					<br>
					<p style="color: #fff;" >We believe in creative and innovative pedagogies of teaching-learning processes.</p>
					<br>
					<ul class="ftco-footer-social p-0">
				<li  class="ftco-animate" ><a href="#" data-toggle="https://twitter.com/prospectias" data-placement="top" title="Twitter"><span  style="color:#fff" class="fa fa-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="https://www.facebook.com/prospectias" data-toggle="tooltip" data-placement="top" title="Facebook"><span style="color:#fff" class="fa fa-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="https://www.youtube.com/channel/UC1dKIKL4oBul8dnBt0ZsRvg" data-toggle="tooltip" data-placement="top" title="Instagram"><span style="color:#fff" class="fa fa-youtube"></span></a></li>
                                     <li class="ftco-animate"><a href="https://www.linkedin.com/company/prospectias/" data-toggle="tooltip" data-placement="top" title="Instagram"><span style="color:#fff" class="fa fa-linkedin "></span></a></li>
					</ul>
					<p><a href="#" class="btn btn-quarternary">START Learning</a></p>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<h2 class="footer-heading"></h2>
					<div class="block-21 mb-4 d-flex">
						
						<!-- <div class="text">
							<h3 class="heading"><a href="#">Mon - Thu: 9 am - 9 pm</a></h3>
							<h3 class="heading"><a href="#">Fri: 9 am - 6 pm</a></h3>
							<h3 class="heading"><a href="#">Sat: 9 am - 5 pm</a></h3>
							<h3 class="heading"><a href="#">Sun: 1 pm - 6 pm</a></h3>
							
						</div> -->
					</div>
					
				</div>
				<div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
					<h2 class="footer-heading">Quick Links</h2>
					<ul class="list-unstyled">
						<li><a href="{% url 'home' %}" class="py-2 d-block"style="color: #fff;;margin-left:15px">HOME</a></li>
						<li><a href="{% url 'about_institution' %}" class="py-2 d-block"style="color: #fff;margin-left:15px">ABOUT</a></li>
						<div class="dropdown">
						  <button class="dropbtn"style="font-size: 14px;font-weight: 500;color:#fff">COURSES</button>
						  <div class="dropdown-content">
							  {% for i in allcat %}
							  <a href="{% url 'course_detail' i.id %}" style="font-size: 15px;font-weight: 600;" >{{ i.name }}</a>
							  {% endfor %}
						  </div>
						</div>
						
						<li><a href="{% url 'contact' %}" class="py-2 d-block"style="color: #fff;margin-left:15px">CONTACT</a></li>

					</ul>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<h2 class="footer-heading">Have a Questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><span class="icon fa fa-map" style="color: #fff;" ></span><span class="text" style="color: #fff;">B-18, 1st Floor ,Opp.Aggrawal Sweets
								Mukherjee Nagar , Delhi 110009</span></li>
							<li><a href="#"><span class="icon fa fa-phone" style="color: #fff;" ></span><span class="text" style="color: #fff;"> +91 9821 9821 04 <br>+91 9821 9821 07</span></a></li>
							<li><a href="#"><span class="icon fa fa-paper-plane" style="color: #fff;"></span><span class="text"style="color: #fff;"> enquiry@prospectias.in</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-12 text-center">

					<p class="copyright" style="color: #fff;" ><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script >  PROSPECT IAS ALL RIGHTS RESERVED <i class="fa fa-book" aria-hidden="true"></i> 
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</div>
		</footer>

		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>

		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/scrollax.min.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="{% static 'js/google-map.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'zslider/js/owl.carousel.js' %}"></script>
		
		



	</body>
	</html>