{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Start: Page Banner -->
 <section class="page-banner "style= "background: linear-gradient(rgba(0%,0%,0%, 0.80), rgba(133%,4%,4%, 0.40)), url({% static 'yinside/images/page-banners/111.jpg' %})";>
    <div class="container">
        <div class="banner-header">
            <h2 style="color: #fff;font-size: 50px;font-weight: 600;text-shadow: 2px 2px 5px black">Previous Papers</h2>
            <span class="underline center"></span>
            <p class="lead"></p>
        </div>

    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Cart Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="cart-main">
            
                        <div class="container">
                            <div class="row">
                                 <!-- Start: Search Section -->
                                <section class="search-filters">
                                    <div class="container">
                                        <div class="filter-box">
                                            <h3 style="color:#000000";#font-weight:600px;font-size:20px>Success in the Civil Services Examination is all about the right strategy in the right direction. Download and analyze Previous Years’ Question Papers to explore, understand and practice your knowledge beforehand and ensure your best performance.</h3>
                                           
                                        </div>
                                    </div>
                                </section>
                                <!-- End: Search Section -->
                                <div class="col-md-12">
                                    <div class="page type-page status-publish hentry">
                                        <div class="entry-content">
                                            <div class="woocommerce table-tabs" id="responsiveTabs">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><b class="arrow-up"></b><a data-toggle="tab" href="#sectionA">UPSC Prelims Previous Year Question Papers</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionB">Essay Previous Year Question Papers</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionC">UPSC Mains General Studies Previous Year Question Papers</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionD">UPSC Mains Optional Subjects Previous Year Question Papers</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="sectionA" class="tab-pane fade in active">
                                                        <form method="post" >
                                                            <table class="table table-bordered shop_table cart">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="product-name">Year</th>
                                                                        <th class="product-name">Title</th>
                                                                        <th class="product-quantity">Paper Pdf</th>
                                                                        <th class="product-price">Paper Pdf</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for i in pre %}
                                                                    <tr class="cart_item">

                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.year }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.name }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="">
                                                                            <span class="product-detail" >
                                                                                <p ><a href="{{ i.paper1_pdf.url }}" download="{{ i.paper1_pdf.url }}">{{ i.paper1_name }}</a></p>
                                                                            </span>
                                                                        </td>
                                                                         <td data-title="Product" class="">
                                                                            <span class="product-detail">
                                                                                <p><a href="{{ i.paper2_pdf.url }}" download="{{ i.paper2_pdf.url }}">{{ i.paper2_name }}</a></p>
                                                                            </span>
                                                                        </td>

                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </form>
                                                    </div>
                                                    <div id="sectionB" class="tab-pane fade in">
                                                        <form method="post" >
                                                            <table class="table table-bordered shop_table cart">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="product-name">Year</th>
                                                                        <th class="product-name">Title</th>
                                                                        <th class="product-quantity">Paper Pdf</th>
                                                                        <th class="product-price">Paper Pdf</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for i in essay %}
                                                                    <tr class="cart_item">

                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.year }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.name }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="">
                                                                            <span class="product-detail" >
                                                                                <p ><a href="{{ i.paper1_pdf.url }}" download="{{ i.paper1_pdf.url }}">{{ i.paper1_name }}</a></p>
                                                                            </span>
                                                                        </td>
                                                                         <td data-title="Product" class="">
                                                                            <span class="product-detail">
                                                                                <p><a href="{{ i.paper2_pdf.url }}" download="{{ i.paper2_pdf.url }}">{{ i.paper2_name }}</a></p>
                                                                            </span>
                                                                        </td>

                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </form>
                                                    </div>
                                                    <div id="sectionC" class="tab-pane fade in">
                                                        <form method="post" >
                                                            <table class="table table-bordered shop_table cart">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="product-name">Year</th>
                                                                        <th class="product-name">Title</th>
                                                                        <th class="product-quantity">Paper Pdf</th>
                                                                        <th class="product-price">Paper Pdf</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for i in gen %}
                                                                    <tr class="cart_item">

                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.year }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.name }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="">
                                                                            <span class="product-detail" >
                                                                                <p ><a href="{{ i.paper1_pdf.url }}" download="{{ i.paper1_pdf.url }}">{{ i.paper1_name }}</a></p>
                                                                            </span>
                                                                        </td>
                                                                         <td data-title="Product" class="">
                                                                            <span class="product-detail">
                                                                                <p><a href="{{ i.paper2_pdf.url }}" download="{{ i.paper2_pdf.url }}">{{ i.paper2_name }}</a></p>
                                                                            </span>
                                                                        </td>

                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </form>
                                                    </div>
                                                    <div id="sectionD" class="tab-pane fade in">
                                                        <form method="post" >
                                                            <table class="table table-bordered shop_table cart">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="product-name">Year</th>
                                                                        <th class="product-name">Title</th>
                                                                        <th class="product-quantity">Paper Pdf</th>
                                                                        <th class="product-price">Paper Pdf</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for i in sub %}
                                                                    <tr class="cart_item">

                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.year }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="product-name">

                                                                            <span class="product-detail">
                                                                                <a href="#"><strong>{{ i.name }}</strong></a>
                                                                            </span>
                                                                        </td>
                                                                        <td data-title="Product" class="">
                                                                            <span class="product-detail" >
                                                                                <p ><a href="{{ i.paper1_pdf.url }}" download="{{ i.paper1_pdf.url }}">{{ i.paper1_name }}</a></p>
                                                                            </span>
                                                                        </td>
                                                                         <td data-title="Product" class="">
                                                                            <span class="product-detail">
                                                                                <p><a href="{{ i.paper2_pdf.url }}" download="{{ i.paper2_pdf.url }}">{{ i.paper2_name }}</a></p>
                                                                            </span>
                                                                        </td>

                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div><!-- .entry-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Cart Section -->
{% endblock %}