{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Start: Page Banner -->
 <section class="page-banner "style= "background: linear-gradient(rgba(0%,0%,0%, 0.80), rgba(133%,4%,4%, 0.40)), url({% static 'yinside/images/page-banners/111.jpg' %})";>
    <div class="container">
        <div class="banner-header">
            <h2 style="color: #fff;font-size: 50px;font-weight: 600;text-shadow: 2px 2px 5px black">Prospect Articles</h2>
            <span class="underline center"></span>
            <p class="lead"></p>
        </div>

    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: 404 Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="error-main">
                        <div class="container">
                            <div class="error-view">
                                <div class="company-info">
                                    <div class="col-md-5 col-md-offset-1 border-dark-left">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="error-box bg-dark margin-left text-center">
                                                    <img src="{% static 'images/comings.png' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 border-dark new-user">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="error-info bg-light margin-right">
                                                    <h4>Prospect Articles<small>Page Coming Soon!</small></h4>
                                                    <form class="search-404" method="post"><br>
                                                        <input class="input-text" placeholder="First Name" name="search" type="text" />
                                                        <span>Can't find what you need? Take a moment and do a search below or start from our homepage.</span>
                                                        <input class="search-submit" type="submit" value="Search" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: 404 Section -->
        {% endblock %}